In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data.head(20)

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590.0,sqft,6000.00,sqft,98144,795000.0
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
2,4,3.0,2040.0,sqft,3783.00,sqft,98107,950000.0
3,4,3.0,3800.0,sqft,5175.00,sqft,98199,1950000.0
4,2,2.0,1042.0,sqft,NaN,NaN,98102,950000.0
5,2,2.0,1190.0,sqft,1.00,acre,98107,740000.0
6,1,1.0,670.0,sqft,6000.00,sqft,98133,460000.0
7,5,3.5,4510.0,sqft,6000.00,sqft,98105,3150000.0
8,3,2.5,1520.0,sqft,741.00,sqft,98108,565000.0
9,4,2.0,2340.0,sqft,9500.00,sqft,98178,699000.0
10,3,2.0,1320.0,sqft,1386.00,sqft,98103,899000.0
11,3,2.0,1800.0,sqft,3993.00,sqft,98177,1050000.0
12,3,2.5,2490.0,sqft,5757.00,sqft,98103,935625.0
13,4,3.0,2650.0,sqft,6380.00,sqft,98115,1511000.0
14,5,1.5,2560.0,sqft,5200.00,sqft,98199,1330000.0
15,2,1.5,900.0,sqft,NaN,NaN,98133,549755.0
16,3,3.5,1360.0,sqft,NaN,NaN,98103,700000.0
17,1,1.0,550.0,sqft,NaN,NaN,98122,330000.0
18,3,2.5,2974.0,sqft,3840.00,sqft,98119,1750000.0
19,4,3.5,1989.0,sqft,1607.00,sqft,98117,980000.0

In [4]:
data.shape

(2016, 8)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beds            2016 non-null   int64
 1   baths           2016 non-null   float64
 2   size            2016 non-null   float64
 3   size_units      2016 non-null   object
 4   lot_size        1669 non-null   float64
 5   lot_size_units  1669 non-null   object
 6   zip_code        2016 non-null   int64
 7   price           2016 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 126.1+ KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

beds
3     645
2     560
4     398
1     256
5     123
6      22
9       5
7       3
8       2
15      1
14      1
Name: count, dtype: int64
********************
baths
2.0    627
1.0    493
2.5    282
3.0    198
3.5    179
1.5    137
4.0     37
4.5     21
5.0     16
5.5     13
6.0      5
7.0      4
8.5      1
0.5      1
9.0      1
6.5      1
Name: count, dtype: int64
********************
size
2080.0    12
1440.0    11
1460.0    11
1370.0    11
1670.0    11
          ..
1548.0     1
1174.0     1
1865.0     1
578.0      1
795.0      1
Name: count, Length: 879, dtype: int64
********************
size_units
sqft    2016
Name: count, dtype: int64
********************
lot_size
5000.0    61
4000.0    45
6000.0    38
1.0       26
4800.0    16
          ..
745.0      1
5043.0     1
2256.0     1
8540.0     1
4267.0     1
Name: count, Length: 959, dtype: int64
********************
lot_size_units
sqft    1449
acre     220
Name: count, dtype: int64
********************
zip_code
98115    170
98103    166
98117    151
98144    113
98122    109
98118    100
98116     88
98107     83
98126     80
98106     78
98125     78
98105     73
98199     72
98119     70
98133     61
98109     61
98136     60
98102     60
98121     59
98112     57
98178     44
98168     44
98146     41
98108     33
98177     27
98101     23
98104     14
98164      1
Name: count, dtype: int64
********************
price
750000.0     27
700000.0     25
850000.0     23
950000.0     20
900000.0     19
             ..
205000.0      1
3400000.0     1
1278500.0     1
6250000.0     1
659000.0      1
Name: count, Length: 767, dtype: int64
********************

In [7]:
data.drop(columns=['lot_size','lot_size_units'],inplace=True)

In [8]:
data.describe()

              beds        baths          size      zip_code         price
count  2016.000000  2016.000000   2016.000000   2016.000000  2.016000e+03
mean      2.857639     2.159970   1735.740575  98123.638889  9.636252e+05
std       1.255092     1.002023    920.132591     22.650819  9.440954e+05
min       1.000000     0.500000    250.000000  98101.000000  1.590000e+05
25%       2.000000     1.500000   1068.750000  98108.000000  6.017500e+05
50%       3.000000     2.000000   1560.000000  98117.000000  8.000000e+05
75%       4.000000     2.500000   2222.500000  98126.000000  1.105250e+06
max      15.000000     9.000000  11010.000000  98199.000000  2.500000e+07

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   beds        2016 non-null   int64
 1   baths       2016 non-null   float64
 2   size        2016 non-null   float64
 3   size_units  2016 non-null   object
 4   zip_code    2016 non-null   int64
 5   price       2016 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 94.6+ KB

In [10]:
data['beds'].value_counts()

beds
3     645
2     560
4     398
1     256
5     123
6      22
9       5
7       3
8       2
15      1
14      1
Name: count, dtype: int64

In [11]:
data.head()

   beds  baths    size size_units  zip_code      price
0     3    2.5  2590.0       sqft     98144   795000.0
1     4    2.0  2240.0       sqft     98106   915000.0
2     4    3.0  2040.0       sqft     98107   950000.0
3     4    3.0  3800.0       sqft     98199  1950000.0
4     2    2.0  1042.0       sqft     98102   950000.0

In [12]:
data['price_per_sqft']=data['price']*100000 / data['size']

In [13]:
data['price_per_sqft']

0       3.069498e+07
1       4.084821e+07
2       4.656863e+07
3       5.131579e+07
4       9.117083e+07
            ...
2011    6.642336e+07
2012    6.186727e+07
2013    5.373832e+07
2014    7.421384e+07
2015    3.853801e+07
Name: price_per_sqft, Length: 2016, dtype: float64

In [14]:
data.describe()

,beds,baths,size,zip_code,price,price_per_sqft
count,2016.000000,2016.000000,2016.000000,2016.000000,2.016000e+03,2.016000e+03
mean,2.857639,2.159970,1735.740575,98123.638889,9.636252e+05,5.915851e+07
std,1.255092,1.002023,920.132591,22.650819,9.440954e+05,8.327952e+07
min,1.000000,0.500000,250.000000,98101.000000,1.590000e+05,6.796117e+06
25%,2.000000,1.500000,1068.750000,98108.000000,6.017500e+05,4.452221e+07
50%,3.000000,2.000000,1560.000000,98117.000000,8.000000e+05,5.529762e+07
75%,4.000000,2.500000,2222.500000,98126.000000,1.105250e+06,6.595389e+07
max,15.000000,9.000000,11010.000000,98199.000000,2.500000e+07,3.424658e+09

In [15]:
data

      beds  baths    size size_units  zip_code      price  price_per_sqft
0        3    2.5  2590.0       sqft     98144   795000.0    3.069498e+07
1        4    2.0  2240.0       sqft     98106   915000.0    4.084821e+07
2        4    3.0  2040.0       sqft     98107   950000.0    4.656863e+07
3        4    3.0  3800.0       sqft     98199  1950000.0    5.131579e+07
4        2    2.0  1042.0       sqft     98102   950000.0    9.117083e+07
...    ...    ...     ...        ...       ...        ...             ...
2011     3    2.0  1370.0       sqft     98112   910000.0    6.642336e+07
2012     1    1.0   889.0       sqft     98121   550000.0    6.186727e+07
2013     4    2.0  2140.0       sqft     98199  1150000.0    5.373832e+07
2014     2    2.0   795.0       sqft     98103   590000.0    7.421384e+07
2015     3    2.0  1710.0       sqft     98133   659000.0    3.853801e+07

[2016 rows x 7 columns]

In [16]:
data.drop(columns=['size_units'],inplace=True)
data.drop(columns=['price_per_sqft'],inplace=True)

In [17]:
data.head()

   beds  baths    size  zip_code      price
0     3    2.5  2590.0     98144   795000.0
1     4    2.0  2240.0     98106   915000.0
2     4    3.0  2040.0     98107   950000.0
3     4    3.0  3800.0     98199  1950000.0
4     2    2.0  1042.0     98102   950000.0

In [18]:
data.columns

Index(['beds', 'baths', 'size', 'zip_code', 'price'], dtype='object')

In [19]:
column_list=['beds', 'baths', 'size']

In [20]:
x=data[column_list]
y=data['price']

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, r2_score

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)
print(x_train.shape)
print(x_test.shape)

(1512, 3)
(504, 3)

In [23]:
lin=LinearRegression()

In [24]:
lin.fit(x_train,y_train)

LinearRegression()

In [25]:
predictions = lin.predict(x_test)

In [26]:
score = lin.score(x_test, y_test)
print("Model R- Square Score:", score)

Model R- Square Score: 0.5750391758752527

In [27]:
mse = mean_squared_error(y_test,predictions)
print("Mean Squared Error: ", mse)

Mean Squared Error:  129952301335.92433

In [28]:
new_house = pd.DataFrame({'beds': [3], 'baths': [3.0],'size': [3800]})
predicted_price = lin.predict(new_house)
print("Predicted Price:", predicted_price[0])

Predicted Price: 2080373.1658652253